{% extends "ohaut_base.html" %}

{% block head_extra %}
{% endblock %}

{% block tabs %}
   <li class="active"><a data-toggle="tab" href="#lamp" aria-controls="lamp">Lamp</a></li>
{% endblock %}

{% block tab_panes %}
    <div role="tabpanel" class="tab-pane fade in active" id="lamp">

      <h1>Ray angles</h1>

      <div class="form-group">
          <label for="ray_zenith" class="col-sm-3 control-label">Ray Zenith</label>
          <div class="col-sm-7">
              <input class="form-control" name="ray_zenith" value=''>
          </div>
      </div>

      <div class="form-group">
          <label for="ray_azimuth" class="col-sm-3 control-label">Ray Azimuth</label>
          <div class="col-sm-7">
              <input class="form-control" name="ray_azimuth" value=''>
          </div>
      </div>

      <div class="col-sm-7">
        <br/>
      </div>

      <input type="submit" value="Save and Reboot">
    </div>
{% endblock %}

{% block javascript_imports %}
    <script src="js/ray.js"></script>
{% endblock %}
